* {
  margin: 0;
  padding: 0;
	
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background: linear-gradient(320deg, #f0f0f0, #c1c1c1);
  min-height: 100vh;
}

main {
  margin: 0 auto;
}

